<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        QandA
      </a>
      <%= link_to 'Questions', questions_path, class: 'nav-item is-tab is-hidden-mobile is-active' %>
    </div>
    <div class="nav-right nav-menu">
      <%= render 'shared/search_form' %>
      <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-item is-tab") %>
      <% else %>
          <%= link_to('Login', new_user_session_path, class: "nav-item is-tab")  %>
          <%= link_to('Sign up', new_user_registration_path, class: "nav-item is-tab")  %>
      <% end %>
    </div>
  </div>
</nav>
